

@mixin circle($valus) {
    border-radius: $valus;
}


@mixin to_divis() {
    width: 100%;
    height: 50%;
}


@mixin table_border() {
    border: 1px solid $border_color;
    border-collapse: collapse;
}

