
.form-ajouter{
    width: 80%;
    padding: 20px 10px;
    margin: auto;
    #btn-ajouter{
        background-color: $color_content_title;
    }
    input,select{
        width: 100%;
        margin: 10px;
        padding: 10px;
        outline: none;
    }
    input[type="button"]{
      background-color: $white;
    }
  
    input[type="submit"]{
        width: 160px;
        float: right;
    }
    textarea{
        min-height: 100px;
        min-width: 100%;
        margin: 10px;
        padding: 10px;
        outline: none;
    }
    input,textarea,select{
        border: 1px solid $border_color;
        @include circle(10px);
    }
}



































