
//**  variables

$backgound_main:#F7F8FA;
$main_color:#8192B5;
$border_color:#d5dce7;
$main_color100:#D57E7E;
$color_aside: #FF7878;
$width1:30%;
$width2:50%;
$black:black;
$white:white;
$gray:rgb(202, 202, 202);
$color_content_title:#E7F1FF;
